// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Abel|Fjalla+One");

// Define fonts for body and headers
@font-face {
  font-family: 'Fjalla One', sans-serif;

  src: font-url('FontFile.eot');
  src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
       font-url('FontFile.woff') format('woff'),
       font-url('FontFile.ttf') format('truetype')
}
$my-font: 'Fjalla One', ;


@font-face {
  font-family: 'Abel', sans-serif;
  src: font-url('FontFile.eot');
  src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
       font-url('FontFile.woff') format('woff'),
       font-url('FontFile.ttf') format('truetype')
}
$my-font-2: 'Abel';
